.section
{
  height: 100vh;
}

.header
{
  position: fixed;
  top: 4%;
  left: 50%;
  width: 50%;
  text-decoration: none;
  height: 10%;
}

#intro
{
  background-color: black;
}

#about
{
  background-color: yellow;
}

#sample
{
  background-color: green; 
}

#contact
{
  background-color: red; 
}

#menu
{
  display:none; 
}

*
{
  margin: 0;
  padding: 0; 
}


.circle 
{
  display:inline-block;
  
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 12px;
  
  text-align: center;
  
  background: #000;
  margin-right: 5%;

  /*Transitions when changing background color*/
  -webkit-transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
  -ms-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

.circle br
{
    line-height: 10px;
}

.circle.filled
{
  background: #f00;
}
