.section
{
  height: 100vh;
}

.header
{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%; 
}

#intro
{
  background-color: black;
}

#about
{
  background-color: yellow;
}

#sample
{
  background-color: green; 
}

#contact
{
  background-color: red; 
}

*
{
  margin: 0;
  padding: 0; 
}

.header
{
  color: white;
  text-decoration: none;
}

.circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
