.section
{
  height: 100vh;
}

.header
{
  position: fixed;
  top: 0;
  left: 50%;
  width: 50%;
  text-decoration: none;
}

#intro
{
  background-color: black;
}

#about
{
  background-color: yellow;
}

#sample
{
  background-color: green; 
}

#contact
{
  background-color: red; 
}

#menu
{
  display:none; 
}

*
{
  margin: 0;
  padding: 0; 
}

.circle
{
  display:inline;
  margin-right: 15%;
}
