.section
{
  height: 100vh;
}

.header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px; 
}

#intro
{
  background-color: black;
}

#about
{
  background-color: yellow;
}

#sample
{
  background-color: green; 
}

#contact
{
  background-color: red; 
}

*
{
  margin: 0;
  padding: 0; 
}

a
{
  color: white;
}
