:root
{
  --mainColor: #F3F9F3;
  --headerColor: #376FA6;
  --textColor: #66747B;
  --highlightColor: #703AAD;
  --questionColor: #703AAD;
  --hoverColor: #FFB447;
  --answerColor: #66747B;
  --footerColor: #FFD447;
}

body
{
  background-color: var(--mainColor);
  font-family: "Open Sans";
  margin: 0;
}


#logo
{
	float: left;
	width: 10%;
}

#navigate
{
	
	word-spacing: 30px;
	float: right;
	margin-right: 5%;
	margin-top: 0.5%;
	text-align: right;

	font-size: 24px;
	color: var(--headerColor);
	font-weight: bold;
}

#navigate div
{
	display: inline-block;
}

#header
{
	text-align: center;
	color: var(--headerColor);
	font-size: 64px;
	font-weight: bold;
	padding-top: 4%;
	font-family: "Open Sans";
}

#main
{
	padding-top: 1%;
}

.column
{
	width: 20%;
	float: left;
	text-align: center;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 22px;
	color: var(--textColor);
	border-right: solid var(--textColor);
	margin-bottom: 1%;	
	border-spacing:4 px;	
}

.last
{
	border-right: none;
}

.column hr
{
	border-right: none;
	padding-right: none;
	padding-left: none;
}

#main
{

}

.column img
{
	width: 35%;
}

.column h2
{
	margin-top: 0px;
	margin-bottom: 0px;
	color: var(--headerColor);
}

.bottom
{
	border-top: solid var(--textColor);
}

#schedule
{
	text-align: center;
	padding-left: 25%;
	padding-right: 25%;
	color: var(--textColor);
	font-size: 24px;
}

#problems table
{
	color: var(--textColor);
	font-size: 28px;
	text-align: center;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

#problems a
{
	color: var(--highlightColor);
	word-spacing: 30px;
}

.textButton
{
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	text-align: center;
	color: var(--questionColor);
	font-size: 24px;
	font-weight: bold;
}

.textButton:hover
{
	color: var(--hoverColor);
}

.buttonClass
{
	text-align: center;
	padding-bottom: 1%;
}

.answers
{
	text-align: center;
	font-size: 24px;
	color: var(--answerColor);
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   margin-left: 0%;
   height:20%;   /* Height of the footer */
   background: var(--footerColor);
}

#mail
{
	padding-top: 1%;
	padding-left: 10%;
	padding-right: 11%;
	width: 12%;
}
